<%= @player_1_name %> vs. <%= @player_2_name %>
<br>
<br>
<%= @player_2_name %>: 100HP
<br>
<br>
<form action=/p1_attack_confirmation>
    <label for="Player 1 Attack"> Player 1:
    <input type="submit" value="Player 1 Attack">
</form>