<h1> Player 1 = <%= @player1 %> </h1>
<h1> Player 2 = <%= @player2 %> </h1>

<form action=/ method="post">
    <label for="name">Player1 Name:</label>
    <input type="text" name="name">
    <input type="submit" value="Submit">
</form>